.modal-content {
	border-radius: 6px;
	padding: 8px;
	top: 60px;
  }
  
  .modal-header-container {
	padding-top: 8px;
	max-width: 342px;
	margin: 0 auto;
	text-align: center;
  }
  
  .modal-header-sub-container {
	padding-top: 8px;
	max-width: 390px;
	margin: 0 auto;
	text-align: center;
  }
  
  .modal-header-sub-welcome {
	font-family: alternate-gothic-compressed, sans-serif;
	font-size: 82px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
  }
  
  .modal-header-welcome {
	font-family: alternate-gothic-compressed, sans-serif;
	font-size: 72px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
  
  }
  
  .modal-button-wrapper {
	text-align: center;
	margin-top: 20px;
  }
  
  .modal-button-ghost {
	
	  background-color: transparent;
	  border-radius: 4px;
	  border: solid 1px #ffffff;
	  display: inline-block;
	  font-size: 14px;
	  font-weight: 600;
	  font-style: normal;
	  font-stretch: normal;
	  max-width: 340px;
	  min-height: 60px;
	  min-width: 200px;
	  overflow: hidden;
	  padding: 10px 30px;
	  text-align: center;
	  line-height: 1.36;
	  letter-spacing: 4.2px;
	  color: #ffffff;
	  padding-bottom: 21px;
	  padding-top: 21px;
	  text-decoration: none;
	  vertical-align: middle;
	  white-space: nowrap;
	  cursor: pointer;
	  text-transform: uppercase;
	  text-decoration: none !important;
	  background-position: center;
	  transition: background 0.8s;
  }
  
  .modal-button-ghost.flex-1 {
   width: 100%;
   min-width: 100%;
  }
  
  
  .modal-body-text {
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	border-left: 4px solid #ff9700;
	border-right: 4px solid #ff9700;
	width: 100%;
  }
  
  .modal-body-text.subscribe-text {
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 1.8;
  }
  
  .row.flex {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  }
  
  .modal-body-btn-group {
	max-width: 500px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 40px auto;
	flex: 1;
  }
  
  .modal-footer {
	border-top: none;
	margin-top: 50px;
  
  }
  
  .modal-footer-text {
	text-align: center;
	color: #666;
	font-size: 12px;
  }
  
  .modal-footer-text a {
   color: #ff9700;
  }
  
  .modal-btn-welcome {
	padding: 30px;
  }
  
  .modal-button-ghost.welcome-modal {
	color: #222;
	font-weight: 400;
	border-color: #ccc;
	min-width: 100%;
  }
  
  .modal-button-ghost.welcome-modal:hover {
	background-color: #222;
	color: #e77a19;
  }
  
  .btn-group-col {
	padding: 0;
	margin: 1px;
	width: 49%;
	
  }
  
  
  /* MEDIA QUERIES  */
  
  
@media only screen and (max-width: 540px) {
	.modal-header-welcome {
		font-size: 64px;
	  }
	  
	  .modal-header-sub-welcome {
		font-size: 64px;
	  }
	  
	  .btn-group-col {
		width: 80%;
	  }
	  
	  .modal-open .modal {
		overflow-x: hidden;
		overflow-y: hidden;
	}
}

@media only screen and (max-width: 320px) {
	.modal-header-welcome {
		font-size: 48px;
	  }
	  
	  .modal-button-ghost {
		font-size: 12px;
		letter-spacing: 3px;
	  }
	  
	  .modal-open .modal::-webkit-scrollbar {
		display: none;
		padding-left: 0;
	  }
	  
	  .modal-open .modal {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	  }
}
  