/* IMPORTS  */
@import "/modules/global.css";
@import "/modules/modal_location.css";
@import "/modules/utilities.css";
@import "/modules/location-marker.css";
@import "/modules/fixed-cta_button.css";
@import "/modules/category-menu.css";
@import "/modules/delivery-locations.css";
@import "/modules/vibe-van.css";
@import "/modules/hero.css";
@import "/modules/featured-products.css";
@import "/modules/shop-by-category.css";
@import "/modules/so-easy.css";
@import "/modules/block-section.css";
@import "/modules/blog-section.css";
@import "/modules/newsletter.css";

/* Product Listing ******DO NOT IMPORT******  */
.product-card-listing {
  height: 600px;
  background-color: #fff;
  text-align: center;
  padding-top: 200px;
  border-bottom: 1px solid #ccc;
  min-height: 200px;
}


/* Featured Videos  */

.container-fluid.featured-videos-section {
  background-color: var(--primary-dark-grey);
  padding-bottom: 80px;
}


/* Farms Listing Section ******DO NOT IMPORT******   */

.farms-listing-section {
  background-color: #fff;
}

.farm-carousel > img {
  max-width: 200px;
  margin: 0 20px;
}



