.category-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.nav {
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav-tabs {
  overflow-y: auto;
  overflow-x: auto;
  display: -webkit-box;
  display: -moz-box;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  cursor: pointer;
}

.nav-tabs > li {
  float: none;
  white-space: nowrap;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #999;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ff9700;
}

.tab-pane.active {
  background-color: white;
  padding: 30px 90px 30px 30px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.nav.nav-tabs.justify-content-center.category-tabs {
  padding: 4px;
  /*! margin: 9px; */
  overflow-y: hidden;
  font-size: 12px;
  
}

.trigger {
  padding: 8px !important;;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #222;
}

.tabbable {
  position: relative;
  max-width: min-content;
  margin: 0 auto;
}

.tab-content {
  position: absolute;
  top: 43px;
  z-index: 5;
  width: 100%;
}

.tab-content UL > li > a {
  color: #222;
}

.tab-content UL > li > a:hover {
  color: #000000;
  font-weight: 500;
  border-bottom: 1px solid #ff9700;
}

.hide-me {
  display: none;
}

.tab-pane > ul {
  padding-left: 0;
}

.all {
  padding-bottom: 24px;
}

.all a {
  color: #000000;
  font-weight: 500;
}

.all a:hover {
  border-bottom: 1px solid #ff9700;
}

.tab-content UL > li {
  padding-bottom: 24px;
  list-style: none;
}

@media only screen and (max-width: 540px) {
  .nav-tabs {
    justify-content: flex-start;
  }

  .nav > li > a {
    text-decoration: none;
    background-color: #eee;
    color: #222;
  }

  .hide-mobile-p {
    padding: 0;
    margin: 0;
  }
  
  .tab-content {
    top: 44px;
  }

  /* Scrollbar */

  ::-webkit-scrollbar {
    height: 2px;
  
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(204, 204, 204);

    background-clip: content-box;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999999;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #464646;
  }
}
